.form {
  height: 28px;
  display: flex;
  gap: 12px;
  width: 30vw;
  align-items: center;
}

.input {
  display: block;
  height: 100%;
  width: 100%;
  margin-left: 12px;
  border: 1px solid #646cff;
  border-radius: 8px;
  padding-left: 12px;

  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
}

.button {
  padding: 8px 12px;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  margin: 0;
}
