.list {
  display: flex;
  column-gap: 16px;
  row-gap: 20px;
  list-style: none;
  flex-wrap: wrap;
}

.item {
  max-width: 10vw;
}

.photo {
  width: 100%;
}
.nameText {
  margin-top: 12px;
  margin-bottom: 12px;
}

.charText {
  margin: 0;
}
